/**CSS THAT IS USEFUL EVERYWHERE**/
.wd-border{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}

/**CSS FOR NAVIGATION**/
.wd-navigation-bottom-border{
    margin: 0px auto 12px auto;
    border-top: solid 1px  black;
}
.wd-navigation-item-border{
    border-right: solid .75px black;
}
.wd-nav-link{
    text-decoration: underline;
    color:#1da1f2;
}

/**CSS FOR LOGIN/REGISTER PAGE**/

.wd-form-border{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.btn.wd-login-register-button{
    display: block;
    color:white;
    background-color: #1da1f2;
    padding: 6px 12px;
    margin:6px auto;
    width:50%
}

/**CSS FOR ADMIN PAGE **/

.wd-table-font-size{
    font-size:14px;
}

/**CSS FOR PROFILE PAGE **/
.btn.wd-update-button{
    color:white;
    background-color: #1da1f2;
    padding: 6px 12px;
    margin: 0px 6px;
    width: 25%;
}

.btn.wd-delete-button{
    color:white;
    background-color: red;
    padding:6px 12px;
    margin: 0px 16px;
    width:25%;
}

/**BREAKPOINTS FOR NAVIGATION**/
@media (min-width: 576px){
    .nav-item{
        padding:0px 16px;
    }
}
@media (min-width: 768px){
    .navbar-nav{
        font-size:24px;
    }
}

@media (min-width: 992px){
    .navbar-nav{
        font-size: 32px;
    }

}

@media (min-width: 1200px){
    .nav-item{
        padding:0px 32px;
    }
}