/**CSS THAT IS USEFUL EVERYWHERE**/
.wd-border{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}

.wd-form-border{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.btn.wd-button{
    display: block;
    color:white;
    background-color: #1da1f2;
}

.btn.wd-delete-button{
    color:white;
    background-color: red;
}

.wd-clickable-link{
    color: #1da1f2;
    text-decoration: underline;
    cursor: pointer;
}

/**CSS FOR NAVIGATION**/
.wd-navigation-bottom-border{
    margin: 0px auto 12px auto;
    border-top: solid 1px  black;
}
.wd-navigation-item-border{
    border-right: solid .75px black;
}
.wd-nav-link{
    text-decoration: underline;
    color:#1da1f2;
}

.nav-link.wd-active-link{
    font-weight: bold;
    color:  #1da1f2 !important;
}

/** CSS FOR HOME PAGE **/
.wd-line-break{
    width:30%;
    margin:16px auto;
    border-top:0px;
    border-bottom:solid 2px #1da1f2;
}

/**CSS FOR ADMIN PAGE **/
.wd-table-font-size{
    font-size:14px;
}

.wd-table-click{
    text-decoration: underline;
    cursor: pointer;
}

/**CSS FOR SEARCH PAGE**/
.list-group-item.wd-list-item{
    text-decoration: underline;
    cursor:pointer;
}

/**BREAKPOINTS FOR NAVIGATION SIZING**/
@media (min-width: 576px){
    .nav-item{
        padding:0px 16px;
    }
}
@media (min-width: 768px){
    .navbar-nav{
        font-size:24px;
    }
}

@media (min-width: 992px){
    .navbar-nav{
        font-size: 32px;
    }
}

@media (min-width: 1200px){
    .nav-item{
        padding:0px 32px;
    }
}